@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  /*Colours*/
  --purple: #6706A5;
  --lilac: #E0D6F2;
  --seashell: #FFF8EB;
  --orange: #FF7960;
  --white: #FFFFFF;
  --dirty-white: #F5F3F7;
  --light-grey: #D4D2D5;
  --grey: #ABA7AF;
  --dark-grey: #76737A;
  --black: #1A141F;


  --header-height: 120px;

  /*Font-size*/
  --h1: 96px;
  --h2: 64px;
  --h3: 40px;
  --h4: 32px;

  --body1: 16px;
  --l-height1: 19px;
  --body2: 18px;
  --l-height2: 26px;
  --body3: 20px;
  --l-height3: 24px;
  --body4: 24px;
  --l-height4: 29px;

  /*Font-weight*/
  --regular: 400;
  --semibold: 550;
  --bold: 700;

}


/* Reset some default styles */
html,
body{
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

#__nuxt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--purple);
}

/* Styling for Text */
body {
  font-family: "Montserrat", serif;
  color: var(--black);
  font-weight: var(--regular);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  color: var(--black);
  font-weight: var(--bold);
  margin: 0px;
}
h1{
  font-size: var(--h1);
  line-height: 104px;
}
h2{
  font-size: var(--h2);
  line-height: 66px;
}
h3{
  font-size: var(--h3);
  line-height: 44px;
}
h4{
  font-size: var(--h4);
  line-height: 34px;
}

/* Basic styling for Header and Footer */
header {
  background-color: var(--white);
  text-align: center;
  width: 100%;
}

footer {
  background-color: var(--white);
  padding: 50px 0;
  width: 100%;
}

/* Styling for Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color:color-mix(in srgb, currentColor 80%, var(--white)); /*?*/
}

a:active{
  color:color-mix(in srgb, currentColor 80%, var(--black)); /*?*/
}

/* Styling for Buttons */
button {
  padding: 10px 20px;
  height: 64px;
  width: 163px;
  background-color: var(--purple);
  color: var(--white);
  font-size: var(--body4);
  font-weight: var(--regular);
  font-family: "Montserrat", serif;
  border-radius: 8px;
  border-width: 0px;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color:color-mix(in srgb, var(--purple) 80%, var(--white));
}

button:active{
  background-color:color-mix(in srgb, var(--purple) 80%, var(--black));
}









/* Basic styling for paragraphs *//*
p {
  margin-bottom: 1em;
}

/* Basic styling for lists */
/*
ul,
ol {
  margin-bottom: 1em;
  padding-left: 1.5em;
}
*/



/* Basic styling for images */
img {
  max-width: 100%;
  height: auto;
}


/* Basic styling for forms */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Basic styling for form elements */
label {
  display: block;
  margin-bottom: 0.5em;
}

/* Basic styling for form validation */
error {
  color: #dc3545;
}

/* Basic styling for success messages */
success {
  color: #28a745;
}
