@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  /*Colours*/
  --purple: #6706A5;
  --purple-hover: #9C3EE6;
  --purple-active: #480473;
  --lilac: #E0D6F2;
  --beige: #FFF8EB;
  --beige-hover: #FFFDF9;
  --beige-active: #FFF9EF;
  --orange: #e62200;
  --white: #FFFFFF;
  --grey4: #F5F3F7;
  --grey3: #D4D2D5;
  --grey2: #ABA7AF;
  --grey1: #76737A;
  --black: #1A141F;
  --black-shadow: rgba(26, 20, 31, 0.12);

  --header-height: 120px;
  --mobile-header1: 64px;
  --mobile-header2: 88px;
  --mobile-size1: 24px;
  --mobile-size2: 40px;

  /*Font-family*/
  --font-montserrat: 'Montserrat', sans-serif;
  --font-playfair: 'Playfair Display', serif;

  /*Font-size*/
  --h1: 96px;
  --h2: 64px;
  --h3: 40px;
  --h4: 32px;

  --body1: 16px;
  --l-height1: 19px;
  --body2: 18px;
  --l-height2: 26px;
  --l-height-header: 22px;
  --body3: 20px;
  --l-height3: 24px;
  --body4: 24px;
  --l-height4: 29px;

  /*Font-weight*/
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 900;

  /* Border-radius */
  --border-radius-bottom: 8px;
  --border-radius-card: 12px;

  /* Transition */
  --transition: 0.25s ease;

  /* Manager card styling */
  --manager-card-mobile-font-size: 16px;
  --manager-card-tablet-font-size: 20px;
  --manager-card-desktop-font-size: 24px;
  --manager-card-font-family-text: 'Montserrat', sans-serif;
  --manager-card-font-family-title: 'Playfair Display', serif;
}


/* Reset some default styles */

html,
body {
  margin: 0;
  padding: 0;
}




main {
  font-size: var(--body4);
  line-height: var(--l-height4);
}
@media (max-width: 1000px){
  main{
    font-size: var(--body2);
    line-height: var(--l-height2);
  }
}
@media (max-width:430px){
  main{
    font-size: var(--body1);
  }
}

/* Styling for Text */
body {
  font-family: "Montserrat", serif;
  color: var(--black);
  font-weight: var(--regular);
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: var(--extrabold);
  margin: 0px;
}
h1 {
  font-size: var(--h1);
  line-height: 104px;
  color: var(--white);
}
h2 {
  font-size: var(--h2);
  line-height: 66px;
}
h3 {
  font-size: var(--h3);
  line-height: 44px;
}
h4 {
  font-size: var(--h4);
  line-height: 34px;
}
.semiboldText {
  font-weight: var(--semibold)
}
.boldText{
  font-weight: var(--bold);
}


/* Styling for the Page Title */
.page-title {
  position: relative;
  bottom: -50%;
  left: 10%;
  width: fit-content;
}
backward-button-wrapper {
  position: absolute;
  top: calc(max((100vw / 2) * 0.3375 , var(--header-height)));
  left: 9.75vw;
  z-index: 11;
}
@media(max-width: 900px){
  backward-button-wrapper {
    top: calc(max((100vw / 2) * 0.3375 , var(--mobile-header2)));
  }
}
@media(max-width: 430px){
  backward-button-wrapper {
    top: calc(max((100vw / 2) * 0.2375 , var(--mobile-header1)));
  }
}

@media (max-width: 1000px) {
  .page-title {
    left: 23.3vw;
    width: 50vw;
    height: 20vw;
    font-size: 7.6vw !important;
    line-height: 8vw !important;
    text-align: center;
  }
  .page-title h1{
    font-size: inherit !important;
    line-height: inherit !important;
  }

  backward-button-wrapper {
    left: 10vw;
  }
}

@media (max-width: 900px) {
  backward-button-wrapper {
    left: 7vw;
  }
}

@media (max-width: 600px) {
  backward-button-wrapper {
    left: 5vw;
  }
}


footer {
  background-color: var(--white);
  padding: 50px 0;
  width: 100%;
  border-top-width: 1px;
  border-color: var(--grey3);
  border-style: solid;
}

/* Styling for Links */
a {
  text-decoration: none;
  color: var(--purple);
}
 a:hover {
  color: var(--purple-hover);
} 
a:active{
  color: var(--purple-active); 
}

/* Styling for grids */
.grid-3{
  width: 90vw;
  margin-top: 64px;
  display: grid;
  justify-content: space-around;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, 520px);
  row-gap: 112px;
}
@media(max-width: 650px){
  .grid-3{
    grid-template-columns: repeat(auto-fill, 90vw);
  }
}

/* div which asks if help is needed */
.needHelp{
  background-color: var(--lilac);
  border-radius: var(--border-radius-card);
  padding: 35px 50px;
  text-align: center;
  max-width: 363px;
}



/* Basic styling for images */
img {
  max-width: 100%;
  height: auto;
}

/* Basic styling for forms */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}